@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	p {
		margin-bottom: 2rem;
	}
	.buttonsBox {
		display: grid;
		grid-template-columns: 2fr auto;
		gap: 1rem;
		a {
			width: 100%;
			button {
				width: 100%;
				cursor: pointer;
				background-color: #333;
				color: white;
				padding: 20px 10px;
				border-radius: 5px;

				&:hover{
					background-color: white;
					color: #333;
				}
			}
		}
	}
}